/* common shared style */

* {
  margin: 0;
  padding: 0;
}

.common-text {
  font-family: "Merriweather", serif;
}

.common-font {
  font-family: "Inter", sans-serif;
}
/* header part style */

header {
  width: 85%;
  height: 500px;
  margin: 30px auto;
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-title {
  width: 600px;
  background: linear-gradient(180deg, #1b083f 4%, rgba(163, 154, 181, 0) 100%);
}
header .header-title .new-year {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  margin-bottom: 10px;
}
header .header-title .new-year-party {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  line-height: 95px;
}

/* mine part style */

.hot-deal {
  width: 60%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-deal .off-offer {
  color: #f00;
  font-size: 80px;
  font-weight: bold;
}

.hot-deal .offer-title {
  margin: 30px 0px;

}

.hot-deal .offer-title .holiday-deal {
  padding: 10px;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.hot-deal .offer-title .categories {
  font-size: 48px;
  color: #070211;
}

.hot-deal .offer-image{
    width: 100%;
    height: 100%;
}